<div class="mt-4">
    <div class="container">
        <div class="row">
            {{!-- show detail course --}}
            <div class="col-sm-3">
                phần phụ
            </div>

            <div class="col-sm-8">
                <h1>{{course.name}}</h1>
                <iframe width="100%" height="300px" src="https://www.youtube.com/embed/PNhYz6RmIr4" frameborder="0"></iframe>
                <p>{{course.desription}}</p>
            </div>

        </div>
    </div>
</div>